body {
/*     font-family: Arial; */
    font: 50% Arial;
} 

#cabecera{
}

#bienvenido{
	/*display: inline;*/
}

p#bienvenido {
 
 color:#8E8E8E;
 display: inline;
 float:right;
 
}

#logo{	
   background-color:#121212; /*negro*/
   border-top: 5px solid;
   border-bottom: 5px solid;
   border-color: #FF6600 #121212 #FF6600 #121212;
   /*red green blue pink*/
}

#menu{	
}

#divIngresar{
	width: 500px;
	float:right;
}

#divIngresarCampos{
    background-color:#F7F7FD;
	border: 2px solid;
	border-color: #A3A3C2 ;
	width: 500px;
	float:right;
}

#tabs-1{
/* 	background-color:red; */
	background: -moz-linear-gradient(top,  rgba(238,238,238,0.5) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,0.5)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(238,238,238,0.5) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(238,238,238,0.5) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(238,238,238,0.5) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(238,238,238,0.5) 0%,rgba(204,204,204,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */

}